{% extends "layout.html" %}
{% load static %}

{% block title %}My Projects{% endblock %}

{% block body %}

    <div id="blueprints">
        
        {% for project, tasks in projects.items %}
            <div class="project">
                <div class="left">
                    <h1>{{project.title}}</h1>
                    <h3>Description:</h3>
                    <p>{{project.description}}</p>
                    <h3>Deadline:</h3>
                    <p>{{project.deadline}}</p>
    
                    <h2>The Blueprints</h2>
                    <div class="front-end">
                        <h3>Front-End</h3>
                        {% for task in tasks %}
                            {% if task.front_end %}
                                {% if task.completed %}
                                    <div class="task green">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}} checked>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% elif task.late %}
                                    <div class="task red">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}}>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="task white">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}}>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
    
                        <form class="add-task" method="POST">
                            {% csrf_token %}
                            <ul class='add-task-list'>
                                <li><label for="title">Add a task:</label><br>
                                    <input type="text" name="title" id="title" placeholder="Component..." required></li>
                                    <li><label for="deadline">Add a deadline (or skip for now):</label><br>
                                        <input type="datetime-local" name="deadline" id="deadline"></li>
                            </ul>
                            <input type="hidden" value={{project.id}} name="project">
                            <input type="hidden" value=True name="front_end">
                            <input type="submit" class="btn" value="Add Component">
                        </form>
                    </div>
                    <div class="back-end">
                        <h3>Back-End</h3>
                        {% for task in tasks %}
                            {% if not task.front_end %}
                                {% if task.completed %}
                                    <div class="task green">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}} checked>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% elif task.late %}
                                    <div class="task red">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}}>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="task white">
                                        <form class="to-do">
                                            <input type=checkbox class="task-checkbox" data-id={{task.id}}>{{task.title}}</input><br>
                                            <b>Deadline: </b>{{task.deadline}}
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
    
                        <form class="add-task" method="POST">
                            {% csrf_token %}
                            <ul class='add-task-list'>
                                <li><label for="title">Add a task:</label><br>
                                    <input type="text" name="title" id="title" placeholder="Component..." required></li>
                                    <li><label for="deadline">Add a deadline (or skip for now):</label><br>
                                        <input type="datetime-local" name="deadline" id="deadline"></li>
                            </ul>
                            <input type="hidden" value={{project.id}} name="project">
                            <input type="hidden" value=False name="front_end">
                            <input type="submit" class="btn" value="Add Component">
                        </form>
                    </div>    
                </div>
                <div class="project-notes">
                    <h3>Project Notes</h3>
                    <textarea id="notes" placeholder="Add notes..."></textarea>

                    <ul class="sketch-btns">
                        <li><h3>Sketch Your Ideas</h3></li>
                        <li><button class="draw"><img src="{% static 'images/draw.svg' %}" width='20px'></button></li>
                        <li><button class="erase"><img src="{% static 'images/erase.svg' %}" width='20px'></button></li>
                        <li><button class="clear">Clear</button></li>
                    </ul>
                    <div class="sketch">
                        <canvas class="paint"></canvas>
                    </div>
                </div>
            </div>
        {% empty %}
            <div id="no-projects">
                <h1>You don't have any projects yet.</h1>
                <h1><a href="{% url 'add-project' %}" id="create-project-btn">Create One!</a></h1>
            </div>
        {% endfor %}

    </div>

{% endblock %}