{% extends "layout.html" %}
{% load static %}

{% block title %}Month At A Glance | SPOT{% endblock %}

{% block body %}

    <div id="calendar">

        <ul id="calendar-heading">
            <li><a class="cal-btn" href="{% url 'calendar' prev_month prev_year %}"><</a></li>
            <li><h1>{{month_name}}</h1></li>
            <li><a class="cal-btn" href="{% url 'calendar' next_month next_year %}">></a></li>
        </ul>
        
        <div id="calendar-table">
            <table>
                <colgroup>
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for week in month %}
                    <tr>
                        {% for day in week %}
                            {% if day == today %}
                                <td style="background-color:#FFED86">
                            {% else %}
                                <td>
                            {% endif %}

                            {% if day.month != prev_month and day.month != next_month %}
                                <b>{{ day.day }}</b><br>
                            {% else %}
                                {{ day.day }}<br>
                            {% endif %}

                            <div class="calendar-events">
                                {% for event in events %}
                                    {% if day.day == event.deadline.day %}
                                        {{event.title}}<br>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <button id="to-do-btn"><img src="{% static 'images/tasks.svg' %}"></button>
    <div id="to-do">
        <button id="exit-to-do"><img src="{% static 'images/exit.svg' %}"></button>
        <h1>To-Do</h1>
        {% for event in todays_events %}
            {% if event.completed %}
                <div class="task green">
            {% elif event.late %}
                <div class="task red">
            {% else %}
                <div class="task white">
            {% endif %}
                    <div id="task{{event.id}}">
                        <form class="to-do">
                            <label>{{event.title}}</label><br>
                            <label><b>Deadline: </b>{{event.deadline}}</label>
                        </form>
                    </div>
                    <div style="display:none" id="edit{{event.id}}">
                        <form id="edit{{event.id}}-form">
                            <input type="text" id="edit{{event.id}}-title" value="{{event.title}}" data-id={{event.id}}><br>
                            <p>Original deadline: {{event.deadline}}</p><br>
                            <b>Deadline: </b><input type="datetime-local" id="edit{{event.id}}-deadline"><br>
                            <input type="submit" class="btn" style="background-color: #FFED86;" value="Save">
                        </form>
                    </div>
                    <div class="edit-btns">
                        <ul>
                            <li><a class="edit-task"  data-id={{event.id}}><img src="{% static 'images/edit.svg' %}"></a></li>
                            <li><a href="{% url 'delete-task' event.id %}"><img src="{% static 'images/delete.svg' %}"></a></li>
                        </ul>
                    </div>
                </div>
            {% empty %}
            <p>Woo! No tasks for today.</p>
            {% endfor %}
    </div>

{% endblock %}