{% extends "layout.html" %}
{% load static %}

{% block title %}Delete Project | SPOT{% endblock %}

{% block body %}

<div id="cancel">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{project.title}}"?</p>
        <ul class="inline">
            <li><button onclick="window.history.back();" class="btn" type="button">Cancel</button></li>
            <li><input class="btn" type="submit" value="Confirm"/></li>
        </ul>
    
    </form>
</div>

{% endblock %}