$yellow: #FFED86;
$green: #A2DCE7;
$red: #FFB067;
$ivory:#F4F7F0;

@keyframes fade {
    from {opacity:0;}
    to {opacity:100%;}
}

body {
    font-family: 'Noto Sans JP', 'Noto Sans JP', sans-serif;;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
background: lighten($green,20%);
}

body::-webkit-scrollbar-thumb {
background-color: lighten($green,10%);
border-radius: 20px;
border: none;
}

::selection {
    background-color: $green;
}

.project {
    h1,h2 {
        color:rgb(50,50,50);
    }
    h3 {
        color:white;
    }
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

a, a:visited {
    text-decoration: none;
    color:darken($yellow, 10%);
}

a:hover {
    text-decoration: solid underline $yellow;
}

input, textarea {
    outline: none;
    border: silver 1px solid;
    border-radius: 20px;
    margin:5px;
    padding:5px;
    font: 14px 'Noto Sans JP', sans-serif;;
}

input::placeholder {
    font: 14px 'Noto Sans JP', sans-serif;;
}

.btn {
    border:none;
    outline:none;
    font: 14px 'Noto Sans JP', sans-serif;;
    background-color: $yellow;
    margin:10px;
    padding:10px;
    cursor: pointer;
    
}

.btn:hover {
    background-color: darken($yellow, 5%);
}
  
#login, #register {
    width:100%;
    text-align: center;
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
}

table {

    position:relative;
    left:50%;
    transform: translate(-50%);
    
    td {
        height: 100px;
        width: 100px;
        padding:10px;
        vertical-align: top;
        border: 5px solid transparent;

        border-radius:20px;
        background-color: $ivory;
    }
}

.calendar-events {
    overflow: auto;
    width:100%;
    height:90%;
}

.calendar-events::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

#calendar-heading {
    text-align: center;
    color:darken($yellow, 10%);
}

nav {
    position:fixed;
    z-index: 1;
    width:50px;
    top:0;
    height:100%;
    background-color: $yellow;
    ul {
        list-style-type: none;
        margin:5px;
        padding:5px;

        li {
            margin-bottom: 10px;
        }

        img {
            width:100%;
        }
    }
}

#dog {
    background-color: white;
    border-radius: 20px;
    height:30px;
    width:30px;
    img {
        position:relative;
        top:50%;
        transform: translate(0,-50%);
    }
}

#calendar, #blueprints, #addproject, #cancel {
    position:relative;
    padding: 50px 100px 50px;
    animation:fade 1s;
}

#calendar {
    padding:0 300px 100px 100px;
    h1 {
        text-align: center;
    }
}

#calendar-heading {
    list-style-type: none;
    text-align: center;
    padding:0;
    li {
        display:inline-block;
    }
}

.cal-btn {
    color: darken($yellow, 10%);
    font-weight: bold;
    font-size: 24px;
    margin:10px;
    padding:10px;
}

#to-do {
    position:fixed;
    right:0;
    top:0;
    height:100%;
    width:200px;
    padding: 20px;
    background-color: $yellow;
    
    input {
        width:-webkit-fill-available;
    }
    h1 {
        text-align: center;
    }
}

.task {
    margin-bottom: 1px;
    padding:5px;
    border-radius: 20px;
    display:grid;
    grid-template-columns: 85% 15%;

    form {
        margin: 10px;
    }
    label {
        position:relative;
    }
}

.edit-btns {
    position:relative;
    text-align: right;
    width:fit-content;
    a {
        cursor: pointer;
    }
    img {
        width:30px;
    }
    li {
        display:inline-block
    }
    ul {
        list-style-type: none;
        padding:0;
    }
}

.green {
    animation: fade 1s;
    background-color: $green;
}

.white {
    animation: fade 1s;
    background-color: $ivory;
}

.red {
    animation: fade 1s;
    background-color: $red;
}

.add-project-btn {
    border:none;
    background-color: $green;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding:15px;
    :hover {
        background-color: darken($green, 5%);
    }
}

.add-project-btn-div {
    width:100%;
    text-align: center;
    padding:20px;
}

#add-project-link {
    font-size: 36px;
    color:white;
}

#add-project-li {
    text-align: center;
}

.project {
    background-color: $yellow;
    width:-webkit-fill-available;
    display: flex;
    justify-content: space-between;
    padding:50px;
    border-radius: 20px;
}

.project-notes {
    max-width: 400px;
    display: grid;
    grid-template-rows: 50% 50%;
    margin:10px;
}

#notes {
    position:relative;
    right:0;
    width:100%;
    height:80%;
    border:none;
    outline:none;
    background: rgba(256,256,256,0.2);
    font-family: 'Noto Sans JP', sans-serif;;
    font-size: 16px;
    margin: 0;
}

.sketch {
    width: 100%;
    height:50%;
}

.paint {
    background-color: white;
    height:100%;
    width:100%;
}

#no-projects {
    text-align: center;
    width: 100%;
    top: 50%;
    position: fixed;
    transform: translate(0, -50%);
}

#addproject {
    text-align: center;
}

#datetime {
    font: 14px 'Noto Sans JP', sans-serif;;
}

textarea {
    width:50%;
    height:50px;
}

.front-end, .back-end {
    padding:10px;
    .btn {
        background-color: $ivory;
    }
    .btn:hover {
        background-color: $green;
    }

}

form {
    margin:20px;
}

.add-task {
    text-align: center;
}

.sketch-btns li, .add-task-list li {
    display: inline-block;
    margin-right: 10px;
}

.sketch-btns, .add-task-list{
    list-style-type: none;
    padding:0;

    button {
        background: transparent;
        border: solid 1px black;
        border-radius: 20px;
        cursor: pointer;
    }
    .clear {
        height:30px;
        transform: translate(0,-3px);
        font: 14px 'Noto Sans JP', sans-serif;;
    }
}

input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
}

#blueprints input[type=checkbox] {
    left:150px;
    width:55%;
    height:70px;
    position:absolute;
    transform: translate(0,30px);
}

#to-do input[type=checkbox] {
    width: 100%;
    position: absolute;
    right: 5px;
    height: 50px;
}

#addproject {
    h1 {
        color:$green;
    }

    h2 {
        font-size: 24px;
    }
}

footer {
    font-size: 10px;
    position:absolute;
    margin:10px;
    padding: 10px;
    right:0;
}

#bkgd {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url("images/bkgd.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    
}

#create-project {
    background: rgba(256,256,256,0.5);
    border: 1px solid $yellow;
}

.inline {
    list-style-type: none;
    padding:0;
    li {
        display: inline-block;
    }
}

#cancel {
    text-align: center;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);

    button {
        border-radius: 20px;
    }
    button:hover {
        background-color: darken($yellow, 5%);
    }
}

.grid-87-13 {
    grid-template-columns: 87% 13%;
}

#project-link {
    color:rgb(50,50,50);
}

#index {
    position:relative;
    animation:fade 1s;
    width:auto;
    h1 {
        color:rgb(50,50,50);
        text-align: center;
    }
    div {
        padding:50px;
    }
    
    #intro {
        background-color: $yellow;
        padding:50px;
    }
}

#intro, #welcome, #how-it-works-group {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#welcome {
    margin:20px;
    h4 {
        font-size: 24px;
        color: $green;
        margin:0;
    }
    h1 {
        font-size: 72px;
        margin:0;
        line-height: 68px;
    }
    div {
        text-align: center;
    }
    img {
        max-width:600px;
    }
}

.index-msg-div {
    max-width: 650px;
}

#welcome-btn {
    color: white;
    border-radius: 30px;
    font-size: 18px;
    padding:15px;
}

#get-started {
    color: rgb(50,50,50);
    font-size: 20px;
    border-radius: 30px;
    padding:20px;
    position:relative;
}
#get-started:hover {
    text-decoration: none;
    background-color: darken($green, 5%);
}
#get-started-div {
    text-align: center;
}

#how-it-works {
    max-width: 900px;
}

.index-images {
    height: auto;
    max-width: 700px;
    
    ul {
        width:100%;
        text-align: center;
    }
    button {
        width:50px;
        height:50px;
        border-radius: 30px;
    }
}

.project-img {
    display:none;
}

.visible {
    display:block;
    margin:0;
    padding:0;
    width: -webkit-fill-available;
}

#video {
    text-align: center;
}

iframe {
    border:none;
}

#index-nav {
    background-color: transparent;
    position:relative;
    width:100%;
    top:0;
    height:50px;
    margin:0;
    li {
        display:inline-block;
        margin:0;
        margin-right:20px;
    }
    img {
        margin:0;
        width:30px;
        height:30px;
        position: relative;
        left: 5px;
        top: 8px;
    }
    a {
        color:black;
        height: fit-content;
    }
    a:hover {
        color:darken($yellow, 10%);
    }
    ul {
        margin:0;
    }
}

#exit-to-do {
    display:none;
    position:relative;
    top:35px;
    left:-15px;
    background:transparent;
    border:none;
    img {
        width:20px;
        height:20px;
    }
}

@media only screen and (max-width:750px) {
    
    img {
        width: 300px;
    }
    .index-images {
        width:-webkit-fill-available;
    }
    #index, #intro, #welcome {
        div {
            padding:0;
        }
        ul {
            margin:50px 0;
        }
    }
    #welcome {
        h1 {
            font-size: 60px;
        }
        h4 {
            font-size: 20px;
            margin:30px 0;
        }
    }
    h1 {
        font-size: 48px;
    }
    iframe {
        width:300px;
    }
    #how-it-works-group {
        div {
            padding:20px;
        }
        #how-it-works {
            padding:50px;
        }
    }
    button {
        img {
            width:30px;
        }
    }
    #to-do {
        display:none;
    }
    #to-do-btn {
        display:block;
        position:fixed;
        right:10px;
        bottom:10px;
        margin:10px;
        border-radius: 100%;
        padding:10px;
        background-color: $yellow;
        border:transparent;
    }
    nav {
        height:50px;
        width:100%;
        ul {
            height:50px;
            list-style-type: none;
            padding:0;
            text-align: center;
            li {
                display: inline-block;
                position:relative;
                top:-5px;
                margin: 0 15px;
                img {
                    width:30px;
                }
            }
        }
    }
    #calendar, #blueprints, #addproject {
        padding:10px;
        top:50px;
        div {
            left:0;
        }
    }
    .project {
        width:-webkit-fill-available;
    }
    .project, .project-notes {
        display:block;
    }
    .sketch {
        height: 300px;
    }
}